* {
    font-family: 'Noto Sans KR', 'sans-serif';
};
body {
    background: #E9EDF1
}

table {
    color: white;
    width: 100%;
    border-collapse: collapse;
    height:50%;
    th, td {
        text-align: center;
        background-color: #A6B8C4;
        border-bottom: 1px solid #444444;
    }
    
    .carLogo {
        width: 80%;
        height: 30px;
    }
    .carName {
    }
}
i {
    color: white;
    font-size: 24px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-weight: 700;
    height: 100px;
    padding: 0px 50px;
    .headerName {
        color: white;
    }
    .profile {
        display: flex;
        color: white;
        align-items: center;
        .profileName {
            margin: 24px 8px;
        }
        img {
            border-radius: 50%;
            width: 50px;
            height: 50px;

        }
    }
}

#leaderBoard {
    padding: 0px 30px;
    table {

    }
}



.carLogo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}